# Gradle
build
.gradle
gradle

# IntelliJ IDEA
*.iml
*.ipr
*.iws
/out/
.idea

# Eclipse
/bin
/.settings
/.externalToolBuilders
.classpath
.project
/dependencies/.settings
/Ocelot

# OS Specific
.DS_Store
